@page "/logout"

@inject NavigationManager _navigation;
@inject ISessionContext _session;

<PageTitle>Logout</PageTitle>

<div class="card text-center">
    <div class="card-header">
        Logout
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await _session.Clear();
        _navigation.NavigateTo("/login");
    }
}
