@inherits LayoutComponentBase

<PageTitle>cls.web.plataforma</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            @* <img src="imgs/logo.png" width="40" height="40"> *@
            <a href="/">Home</a>
            <a href="user/">Novo</a>
            <a href="about/">Sobre</a>
            <a class="icon-link" href="logout/">
                Sair
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
