@page "/user"

<PageTitle>Usuários</PageTitle>

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using cls.web.plataforma.Data
@using cls.web.plataforma.Data.Interface;
@using cls.web.plataforma.Model

@inject IPessoaService _pessoaService
@inject NavigationManager _navigation;
@inject ISessionContext _session;

<div class="card p-4">
    <h1>Novo usuário</h1>
    <EditForm Model="@pessoa">
        <div class="form-group row p-2">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Nome" @bind-value="pessoa.nome" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Sobrenome" @bind-value="pessoa.sobrenome" />
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Email" @bind-value="pessoa.email" />
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Telefone" @bind-value="pessoa.telefone" />
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Data de Nascimento"
                    @bind-value="pessoa.dataNascimento" />
            </div>
        </div>
        <div class="form-group row p-2">
            <div class="text-center">
                <button class="btn btn-primary" @onclick="@(async () => await AddPessoa())">Add</button>

            </div>
        </div>
    </EditForm>
</div>

@code {
    private Pessoa pessoa = new();

    protected override async Task OnInitializedAsync()
    {
        var userSession = await _session.Get();

        if (string.IsNullOrWhiteSpace(userSession)) _navigation.NavigateTo("/login");
    }
    protected async Task AddPessoa()
    {
        var salved = await _pessoaService.Save(pessoa);
        if (salved) _navigation.NavigateTo("/");
    }
}
